// ! Main Colors Variants
$main: #131313;
$main-50: #1313138e;

// ? Secondary Colors Variants
$secondary: #E4E4E4;
$secondary-50: #e4e4e42a;

// * Others Colors Variants
$purple: #D5B3FF;
$dark-purple: #9a70cc;
$yellow: #FBD960;